
@font-face {
    font-family: 'great_vibesregular';
    src: url('font/greatvibes-a7yl-webfont.woff2') format('woff2'),
         url('font/greatvibes-a7yl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
font-family: 'great_vibesregular';
font-size: 60px;
color : #d81b60 ;
}

h2 {
font-family: 'great_vibesregular';
font-size: 40px;
font-weight:bold;
color : #d81b60 ;
}

h3 {
font-family: 'great_vibesregular';
color : #d81b60 ;
font-weight:bold;
}
p{
color:black;

}
a{
color:black;
}
